*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: rgba(0, 0, 0, 0.5);
  --overlay: rgba(0, 0, 0, 0.3);
  --d-overlay: rgba(0, 0, 0, 0.25);
  --black: #000;
  --red: #992323;
  --white: #fff;
  --font-size: 1.5em;
  --v-f-s: 2.5em;
  --page-margin: 2.5em;
  --page-padding: 2.5em;
  --silver: #c0c0c0;
  --transparent: rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--grey);
  color: var(--white);
  position: relative;
}

.main-content-container {
  /* margin-top: 7.5em; */
  background-image: url("https://plus.unsplash.com/premium_photo-1661713795272-6ab29ccfbbf2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bXVzaWMlMjByb2NrJTIwYmFuZCUyMGltYWdlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  position: relative;
}

.main-content-container::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--overlay);
}

/* .main-content-container > * {
  position: relative;
  z-index: 0;
} */

.main-container-header {
  /* padding-top: 2em; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--d-overlay);
  color: var(--white);
  backdrop-filter: blur(10px);
}

.header-utility-container {
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  gap: 1em 1em;
}

.header-logo-title {
  font-size: var(--v-f-s);
}

.header-cart-container,
.header-nav-container {
  font-size: var(--font-size);
}

.header-nav-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  border: 1px solid silver;
  border-radius: 100%;
  color: var(--black);
  background-color: var(--white);
}

.main-nav-wrapper {
  position: relative;
}

.main-nav-container {
  position: absolute;
  /* top: 50%; */
  left: 0;
  right: 0;
  z-index: 9999;
  height: auto;
  padding: 1em;
  border: 1px solid silver;
  transform-origin: top;
  transform: translate(-100%, 50%);
  /* display: none; */
  transition: all 0.5s ease-in;
  background-color: var(--red);
}

.main-nav-list {
  list-style: none;
  color: var(--white);
}

.display {
  transform: translate(0%, 50%);
}

.main-section-container {
  display: flex;
  gap: 1.5em 1.5em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 10em;
  position: relative;
  z-index: 99;
}

.main-section-paragraph-container {
  margin-inline: var(--page-margin);
}

.main-section-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 10;
  font-size: 2.5em;
}

.main-button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em 1em;
  width: 100%;
  height: auto;
  padding-bottom: 2em;
}

.music-play-btn-icon {
  font-size: 2em;
}

.main-button {
  width: 15em;
  height: 4em;
  padding: 0.5em;
  border: 1px solid silver;
  border-radius: 1em;
}

.music-play-btn {
  background-color: transparent;
  color: var(--white);
  border: none;
}

.band-album-discussion-browse-album-button-container {
  margin-bottom: 9em;
}

.band-album-discussion-section-container {
  background-color: var(--black);
  color: var(--white);
  padding-block-start: 5.5em;
  min-height: 140vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2em 2em;
  position: relative;
}

.band-album-discussion-section-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--grey);
  z-index: 3;
}

.band-album-discussion-title-container,
.band-album-discussion-paragraph-container {
  margin-inline: var(--page-margin);
  position: relative;
  z-index: 5;
}

/* .band-album-discussion-title,
.band-album-discussion-paragraph {
  text-align: center;
} */

.band-album-discussion-browse-album-button-container {
  margin-inline: var(--page-margin);
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 5;
}

.band-album-discussion-album-button {
  width: 15em;
  height: 4em;
  border: 1px solid silver;
  border-radius: 1em;
}

.band-album-discussion-image-content-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 9em;
  margin-bottom: 4.5em;
  height: 15em;
  width: 15em;
}

.band-album-discussion-image-content-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  z-index: 5;
  inset-block-end: 0;
  inset-inline-start: 0;
  background-color: var(--silver);
}

.band-album-discussion-image-container {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 2em;
}

.band-album-discussion-image {
  width: 100%;
  height: 100%;
  border: inherit;
  border-radius: inherit;
}

.hand-from-sea {
  z-index: 40;
  transform: rotate(-15deg);
}

.rotating-stereo {
  z-index: 0;
}

.band-album-discussion-image-text-container {
  position: absolute;
  color: var(--white);
  z-index: 999;
  top: 0;
  left: 0;
  padding: 1em;
}

@media only screen and (max-width: 420px) {
  .main-button-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
