*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: rgba(0, 0, 0, 0.5);
  --overlay: rgba(0, 0, 0, 0.3);
  --d-overlay: rgba(0, 0, 0, 0.25);
  --black: #000;
  --red: #992323;
  --white: #fff;
  --font-size: 1.5em;
  --v-f-s: 2.5em;
}

body {
  background-color: var(--grey);
  color: var(--white);
}

.main-content-container {
  /* margin-top: 7.5em; */
  background-image: url("https://plus.unsplash.com/premium_photo-1661713795272-6ab29ccfbbf2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bXVzaWMlMjByb2NrJTIwYmFuZCUyMGltYWdlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  position: relative;
}

.main-content-container::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--overlay);
}

/* .main-content-container > * {
  position: relative;
  z-index: 0;
} */

.main-container-header {
  /* padding-top: 2em; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--d-overlay);
  color: var(--white);
}

.header-utility-container {
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  gap: 1em 1em;
}

.header-logo-title {
  font-size: var(--v-f-s);
}

.header-cart-container,
.header-nav-container {
  font-size: var(--font-size);
}

.header-nav-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  border: 1px solid silver;
  border-radius: 100%;
  color: var(--black);
  background-color: var(--white);
}

.main-nav-wrapper {
  position: relative;
}

.main-nav-container {
  position: absolute;
  /* top: 50%; */
  left: 0;
  right: 0;
  z-index: 9999;
  height: auto;
  padding: 1em;
  border: 1px solid silver;
  transform-origin: top;
  transform: translate(-100%, 50%);
  /* display: none; */
  transition: all 0.5s ease-in;
  background-color: var(--red);
}

.main-nav-list {
  list-style: none;
  color: var(--white);
}

.display {
  transform: translate(0%, 50%);
}

.main-section-container {
  display: flex;
  gap: 1.5em 1.5em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 10em;
  position: relative;
  z-index: 99;
}

.main-section-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 10;
  font-size: 2.5em;
}

.main-button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em 1em;
  width: 100%;
  height: auto;
}

.main-button {
  width: 15em;
  height: 4em;
  padding: 0.5em;
  border: 1px solid silver;
  border-radius: 1em;
}

@media only screen and (max-width: 420px) {
  .main-button-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
